<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.connString" connectionString="Data Source=Coronavairus.mssql.somee.com;Initial Catalog=Coronavairus;Persist Security Info=False;User ID=juanito33_SQLLogin_1;Password=qjs3cpm4g2;Packet Size=4096;Workstation ID=Coronavairus.mssql.somee.com"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>